*{
    margin: 0px;
    padding: 0px;
}
#b1{
    height: 40px;
    width: 100px;
    margin-top: 15px;
    border: 1px solid black;
    font-size: 17px;
    font-weight: bolder;
}
.div2{
    padding-top: 10px;
}
fieldset{
    margin-left: 30px;
    border: 1px solid black;
}
#b2{
    height: 40px;
    width: 140px;
    border-radius: 10px;
    margin-left: 70px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 45px;
    
}
legend{
    font-size: 18px;
    font-weight: bold;
}
#tab,th,#td2{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 18px;
    text-align: center;
}
th{
    background-color: #f1dbdb;
    height: 35px;
    /* padding: 10px; */
}
#td2{
    height: 30px;
}